html, body {
    background-color: #ffeead;
    font-size: 20px;
    margin: 0px;
}
  
p {
    color: darkviolet;
    
 }

header {
    background-color: red;
}
   
.menu {
    background-color: navy;
}
  
.content {
    background-color: #ffcc5c;
}
  
#footer {
    background-color: #4c27d3;
    
}


body > div {
    color: #127909;
    padding: 0px 20px;
}


h1 {
	padding-left: 5px;
	padding-bottom: 15px;
	font-family: Verdana, sans-serif;
	text-align: center;
	color: blue;
	text-shadow: 3px 2px red;
	text-transform: capitalize;
}

h2 {
    color: darkblue;
}

h3 {
    color: black;
}

#name {
    padding: 15px;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 3px 2px rgb(20, 198, 211);
    text-transform: capitalize;
    color: navy;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px auto 60px;
}

header {
    grid-column: 1 / -1;
    display: flex;
}
/*
header > div:nth-child(-1) {
    margin-left: auto;
}
*/

nav {
    margin-left: auto;
    padding-top: 20px;
}

/*
.btn {
    padding-top: 10px;
    padding-bottom: 10px;
	border: 1px solid black;
	outline-style: outset;
	outline-color: snow;
}
*/

a:link {
	color: whitesmoke;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	font-weight: bold;
	color: blue;
}


.menu {
    grid-column: 1 / 3;
}

.content {
    grid-column: 3 / -1;
}

#footer {
    grid-column: 1 / -1;
}

#footer p {
    align-self: center;
    text-align: center;
    color: black;

}